.nav {
  width: 15vw;
  height: 100vh;
  background-color: antiquewhite;
  position: sticky;
  top: 0;
}

.top {
  height: 6.5%;
  position: sticky;
  top: 0;
}
.nav-logo {
  margin: 0 5px;
}
.bottom {
  height: 93.5%;
  display: flex;
  justify-content: center;
}
.linkContainer {
  margin: 5em 0;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.item > a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.item > a:hover {
  background-color: #f6635cb2;
  color: white;
}
